/* colors */
$basic-blue: #3454f5;
$basic-black: #333;
$basic-white: #fff;
$light-bg: #eff7ff;
$footer-black: #2e3646;

/* margins */
$after-section: 13vh;
$after-title: 4.63vh;

/* font sizes */
$basic-fs: 1.125rem;
$basic-lh: 1.56;
